.header-100{
  background-color:#fff;
  height: 100vh;
  width: 100%;
}

.h1-responsive{
  color: rgba(8, 100, 177, 1);
  font-weight: 400;
  font-size: 4em;
  font-family: 'Passion One';
  text-align: center;
}

.parag{
  line-height: 3rem;
  font-size: 1rem;
  font-family: 'Verdana';
  text-align: center;
}

#subtitulos{
  font-size: 2rem;
  font-family: 'Passion One';
  text-align: center;
}

.cond{
  line-height: 1;
}
