<div class="container-fluid m-0">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <span class="border-bottom">
        <h1>{{this.titulo}}</h1>
      </span>
    </div>
    <div class="row text-center">
      <p class="parag text-break">{{this.mensagem}}<br />
        {{this.cnpj}}</p>
    </div>

    <div class="row cond">
      <div class="col-md-3 p-0 text-center">
        <span class="h1-responsive mb-0">+50mil<br /></span>
        <span class="mt-n2" id="subtitulos">Associados</span>
      </div>
      <div class="col-md-3 p-0 text-center border-left">
        <span class="h1-responsive mb-0">15<br /></span>
        <span class="mt-n2" id="subtitulos">Prefeituras</span>
      </div>
      <div class="col-md-3 p-0 text-center border-left">
        <span class="h1-responsive mb-0">3<br /></span>
        <span class="mt-n2" id="subtitulos">Estados</span>
      </div>
      <div class="col-md-3 p-0 text-center border-left">
        <span class="h1-responsive mb-0">+ 300mil<br /></span>
        <span class="mt-n2" id="subtitulos">Famílias Beneficiadas</span>
      </div>
    </div>
  </div>
</div>
