<div class="container-fluid pt-3 pb-3 mt-5 bglb">

  <div class="container">

    <div class="row pt-3">
      <div class="col-md-2">
        <img src="../../../assets/img/Logotipo Sociela.png" alt="logotipoSociela" class="img-fluid" width="200px">
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Rua Dr. Jose Peroba, 349</li>
          <li>Edifício Empresarial Costa Azul - Salas 104 a 106</li>
          <li>CEP: 41.770-235</li>
          <li>Tel: (71) 2106-1300</li>
          <li>Tel: 0800 771 9562</li>
        </ul>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-3">
        <div class="row">Siga-nos nas redes sociais</div>
        <div class="row mt-0" id="iconsize">
          <a href="https://pt-br.facebook.com/www.sociela.com.br/"><div class="col-auto pl-0"><mdb-icon fab icon="facebook-square"></mdb-icon></div></a>
          <div class="col-auto"><mdb-icon fab icon="linkedin"></mdb-icon></div>
          <div class="col-auto"><mdb-icon fab icon="instagram"></mdb-icon></div>
          <div class="col-auto"><mdb-icon fab icon="youtube-square"></mdb-icon></div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-5">
        <span class="bold"><mdb-icon far icon="copyright"></mdb-icon> 2020 direitos reservados pela Ikê Assistência S.A.</span>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-3">
        <span class="bold">Feito com <mdb-icon far icon="heart"></mdb-icon> by Phoenix Tech</span>
      </div>
    </div>

  </div>

</div>
