.bglb{
  background-color: #0865b1c0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8rem;
  font-weight: bold;
  color: #fff;
}

#iconsize{
  font-size: 2rem;
  color: #fff;
}

.bold{
  font-weight: bold;
  color: #fff;
}

a {
  color: #fff;
}

a:hover{
  color: #0864B1;
}
