.header-100{
  background-image: url("../../../assets/img/Header\ Section.png");
  background-color:rgba(159, 210, 255, 1);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 25px;
}

.cardImg{
  background-image: url('../../../assets/img/fundocard.png');
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.container{

}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.linha-2{
  color: #fff;
  font-size: 1.5rem;
}

.bgi{
  background-color: #0864B1;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Passion One';
  color: #fff;
}

.bglbd{
  color: #fff;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Passion One';
}
