<div class="container-fluid m-0 header-100">
  <app-nav></app-nav>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="row">
          <h1>Invista no futuro e segurança da sua família.</h1>
        </div>
        <div class="row linha-2">Conheça a SOCIELA, nossos serviços exclusivos para
          funcionários públicos a promoção complementar da saúde e bem estar
          de toda a sua família.
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img src="../../../assets/img/fundocard.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6"></div>
      <div class="col-md-1"></div>
      <div class="col-md-5 text-center">
        <button mdbBtn type="button" gradient="peach" size="lg" block="true" (click)="openDialog()">Verificar</button>
      </div>
    </div>
  </div>

  <!-- <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bgi">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Verificar Disponibilidade</h4>
        </div>
        <div class="modal-body">
          <app-form-verif-cpf-component></app-form-verif-cpf-component>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


