<div class="container p-0">
  <div class="row">
    <div class="col-md-8 border-right">
      <div class="row">
        <h1>PARABÉNS! Seu cadastro foi concluído!</h1>
        <p>Logo você receberá instruções em seu e-mail sobre os serviços contratados.</p>
      </div>
    </div>
    <div class="col-md-4 bgdarkblue">
      <ul class="list-unstyled">
        <li>Rua Dr. Jose Peroba, 349</li>
        <li>Edifício Empresarial Costa Azul - Sala 106</li>
        <li>(071) 2106-1300</li>
        <li>0800 707 138</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <button type="button" (click) = "close()" class="btn btn-primary">Fechar</button>
  </div>
</div>
