<div class="container">
  <h2>O que estes termos cobrem</h2>
<p> Sabemos que é tentador pular estes Termos de Serviço, mas é importante estabelecer o que você pode esperar de nós ao usar os serviços do Google e o que esperamos de você.
Estes Termos de Serviço refletem a maneira como os negócios do Google funcionam, as leis que se aplicam à nossa empresa e determinados pontos em que sempre acreditamos. Como resultado, estes termos ajudam a definir a relação do Google com você na medida da sua interação com os nossos serviços. Por exemplo, estes termos incluem as seguintes seções:</p>

<h2>O que você pode esperar de nós, que descreve o modo como fornecemos e desenvolvemos nossos serviços.</h2>

<p> O que esperamos de você, que estabelece certas regras para usar nossos serviços.
Conteúdo nos serviços do Google, que descreve os direitos de propriedade intelectual com relação ao conteúdo que você encontra nos nossos serviços, seja ele pertencente a você, ao Google ou a outras pessoas.
Em caso de problemas ou discordâncias, que descreve outros direitos legais que você tem e o que esperar caso estes termos sejam violados
Compreender estes termos é importante porque, para usar nossos serviços, você precisa aceitá-los.</p>

<p> Além destes termos, também publicamos uma Política de Privacidade. Embora ela não faça parte destes termos, recomendamos que você a leia para entender melhor como pode atualizar, gerenciar e excluir suas informações.</p>

<h2>Provedora de serviços</h2>

<p> Os serviços do Google que você pode contratar são fornecidos por:</p>

<ul>
 <li>Google LLC
  organizada de acordo com as leis do estado de Delaware, EUA, e operada de acordo com as leis dos EUA

  1600 Amphitheatre Parkway
  Mountain View, Califórnia 94043
  EUA</li>
</ul>

<h2>Restrições de idade</h2>

<p> Se você está abaixo da idade exigida para gerenciar sua própria Conta do Google, é necessário ter a permissão do seu pai/mãe ou responsável legal para usar uma conta. Peça para seu pai/mãe ou responsável legal ler estes termos com você.</p>

<p>Se você é um responsável legal ou pai/mãe e permite que uma criança use os serviços, estes termos se aplicam a você, e você é responsável pelas atividades dessa criança nos serviços.</p>

<p>Alguns serviços do Google têm restrições de idade complementares, de acordo com o descrito nos termos adicionais específicos do serviço e nas políticas deles.</p>
</div>
<div class="container mt-2">
  <div mat-dialog-actions class="justify-content-center">
    <button type="button" class="btn btn-primary" (click)="onClick()">Concordo</button>
  </div>
</div>
