.bglb{
  background-color: #9FD2FF;
  color: #fff;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Passion One';
}

/* .form-control, .md-form{
  display: flex;
  flex-direction: column;
  color: #fff;
} */

#label1{
  background-color: rgba($color: #9FD2FF, $alpha: 1.0)
}
