<div class="container-fluid pt-3 bglb">

  <div class="container p-3">
    <div class="row">
      <div class="col-md-6">
        <p class="display-4">Quer receber mais informações sobre nossos serviços? Deixe seu contato!</p>
      </div>
      <div class="col-md-6">
        <div class="md-form md-bg form-lg">
          <input id="form-bg-lg" class="form-control form-control-lg" type="text" mdbInput>
          <label for="form-bg-lg">E-Mail</label>
          <button type="button" class="btn peach-gradient btn-lg btn-block">ENVIAR</button>
        </div>

      </div>
    </div>
  </div>

</div>
