<div class="container-fluid m-0 p-0">
  <app-header></app-header>
  <app-aboutus
    titulo = "Sobre Nós"
    mensagem = "Fundada em 1995, a Sociela Assistencial é uma associação sem fins lucrativos voltada
    diretamente para beneficiar o Servidor Público, atuando nas intermediações assistenciais nas áreas
    de assistência à saúde, odontológica e cobertura funeral para cerca de 100.000 Servidores Públicos,
    na Bahia e Sergipe. A matriz localiza-se em Salvador com 25 funcionários, possui filial em Sergipe com mais 04 funcionários.

    Nossa missão é proporcionar aos seus associados e colaboradores o acesso a benefícios de saúde com menores preços e alta qualidade de serviço."
    cnpj = "00.628.869/0001-85"></app-aboutus>
    <app-expositor
      titulo = "O que temos para você hoje?">
    </app-expositor>
    <app-depoimentos
      titulo = "Depoimentos"></app-depoimentos>
    <app-subscribe></app-subscribe>
    <app-fale-conosco
      titulo = "Fale Conosco"></app-fale-conosco>
    <app-orgaos
    titulo = "Nossos Orgãos Conveniados"></app-orgaos>

      <app-footer></app-footer>

</div>

<router-outlet></router-outlet>
