<div class="container-fluid mt-3 pt-5 bggray">

  <div class="container">

    <div class="row justify-content-center">
      <span class="border-bottom">
        <h1 class="h1-responsive">{{this.titulo}}</h1>
      </span>
    </div>

    <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-5">
      <div class="col mb-4">
        <!-- Card -->
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-clinic-medical card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Assistência Médica por Telefone</h4>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-person-booth card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Assistência Psicológica</h4>

          </div>

        </div>
      </div>
      <!-- Card -->

      <div class="col mb-4">
        <!-- Card -->
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-tooth card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Assistência Odontológica</h4>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-2">

      <!-- Card -->
      <div class="col mb-4">
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-paw card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Pet</h4>

          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col mb-4">
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-briefcase-medical card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Desconto em Farmácias</h4>

          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col mb-4">
        <div class="card mb-4 text-center pt-5 bg-indigo h-100">

          <!--Card image-->
          <div class="view overlay">
            <i class="fas fa-cross card-f-4"></i>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Assistência Funeral</h4>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
