.h1-responsive{
  color: rgba(8, 100, 177, 1);
  font-weight: 400;
  font-size: 2em;
  font-family: 'Passion One';
  text-align: center;
}

.bggray{
  background-color: #F5F5F5;
}

.mt-x-5{
  margin-top: (1rem * 6);
}

.card-f-1{
  font-size: (1rem * 1);
}

.card-f-2{
  font-size: (1rem * 2);
}

.card-f-3{
  font-size: (1rem * 3);
}

.card-f-4{
  font-size: (1rem * 4);
}

.bg-indigo{
  background-color: #0864B1;
  color: #F5F5F5;
}
