<div class="container">
  <div class="row pt-3 align-items-center">
    <div class="col-md-3 text-center">
      <img src="../../../assets/img/Logotipo Sociela.png" alt="logotipoSociela" class="img-fluid" width="200px">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md6 align-items-right">
      <ul class="nav justify-content-end mt-2">
        <li class="nav-item">
          <a class="nav-link active" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nossos Parceiros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fale Conosco</a>
        </li>
      </ul>
    </div>
  </div>
</div>




