<div class="container-fluid pt-3">

  <div class="container">

    <div class="row justify-content-center mb-2">
      <span class="border-bottom">
        <h1 class="h1-responsive">{{this.titulo}}</h1>
      </span>
    </div>

    <mdb-card>

      <mdb-card-body>

        <form>
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" class="form-control" placeholder="Nome">
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" class="form-control" placeholder="Sobrenome">
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" class="form-control" placeholder="E-Mail">
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" class="form-control" placeholder="Telefone">
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-12">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" class="form-control" placeholder="Título da Mensagem">
              </div>
            </div>
          </div>

          <!-- Grid row -->
          <div class="form-row">
            <div class="col-md-12">
              <div class="md-form mt-0">
                <textarea type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
                <label for="form7">Mensagem</label>
              </div>
            </div>
          </div>

          <div class="form-row justify-content-center">
            <button class="btn blue-gradient">Enviar <mdb-icon far icon="paper-plane"></mdb-icon></button>
          </div>


        </form>
      </mdb-card-body>
    </mdb-card>

  </div>

</div>
